<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Alert.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94749CCA1BB8FF7300BBE227</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94749CDE1BB8FF7400BBE227</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94749CE91BB8FF7400BBE227</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
